<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="MyHibernateSessionFactory">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">mysql</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/spiders</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<mapping resource="com/hibernate/model/Bbs.hbm.xml" />
		<mapping resource="com/hibernate/model/Ipagent.hbm.xml" />
		<mapping resource="com/hibernate/model/News.hbm.xml" />
		<mapping resource="com/hibernate/model/Search.hbm.xml" />
		<mapping resource="com/hibernate/model/Weibo.hbm.xml" />
		<mapping resource="com/hibernate/model/WeiboComment.hbm.xml" />
		<mapping resource="com/hibernate/model/WeiboSearch.hbm.xml" />
		<mapping resource="com/hibernate/model/Weixin.hbm.xml" />
	</session-factory>
</hibernate-configuration>
